/* responsive */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }

  .menu {
    display: flex;
    gap: 10px;
  }

  .menu div {
    white-space: nowrap;
  }
}

@media (max-width: 700px) {
  .highlight-row {
    grid-template-columns: 1fr 1fr;
  }

  .order-topbar {
    flex-direction: column;
    align-items: stretch;
  }

  .order-search {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
