# Visual Studio / ASP.NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Angular / Web
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
/typings
__screenshots__/
.history/

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# System
.DS_Store
Thumbs.db
